@model leave_management.Models.LeaveRequestViewModel

@{
    ViewData["Title"] = "Details";
}

@if (Model.Approved == null)
{
    <div class="alert alert-warning" role="alert">
        <h3>Review open request for <span style="color: crimson;">@Model.RequestingEmployee.Firstname @Model.RequestingEmployee.Lastname</span></h3>

        <h5>Request submitted on: @Model.DateRequested</h5>
    </div>
}
else if (Model.Approved == false)
{
    <div class="alert alert-danger" role="alert">
        <h3>Request was rejected for <span style="color: crimson;">@Model.RequestingEmployee.Firstname @Model.RequestingEmployee.Lastname</span></h3>

        <h5>Date Submitted: @Model.DateRequested</h5>
        <h5>Date Rejected:  @Model.DateActioned </h5>
    </div>
}
else
{
    <div class="alert alert-success" role="alert">
        <h3>Request was approved for <span style="color: crimson;">@Model.RequestingEmployee.Firstname @Model.RequestingEmployee.Lastname</span></h3>

        <h5>Date Submitted: @Model.DateRequested</h5>
        <h5>Date Rejected:  @Model.DateActioned </h5>
    </div>
}

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestingEmployee)
        </dt>
        <dd class="col-sm-10">
            @Model.RequestingEmployee.Firstname @Model.RequestingEmployee.Lastname
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveType.Name)
        </dd>
    </dl>
</div>
<div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-outline-success" asp-action="ApproveRequest" asp-route-id="@Model.Id">
                <i class="fas fa-check-circle"></i>
                Approve
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-outline-danger" asp-action="RejectRequest" asp-route-id="@Model.Id">
                <i class="fas fa-times-circle"></i>
                Reject
            </a>
        </div>
    </div>
    <hr />
    <a asp-action="Index">Back to List</a>
</div>