@model AdminViewLeaveRequestViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>Requests Summary</h3>
<hr />

<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h3 class="card-title">@Model.PendingRequests</h3>
                <p class="card-text">@Html.DisplayNameFor(model => model.PendingRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h3 class="card-title">@Model.ApprovedRequests</h3>
                <p class="card-text">@Html.DisplayNameFor(model => model.ApprovedRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h3 class="card-title">@Model.RejectedRequests</h3>
                <p class="card-text">@Html.DisplayNameFor(model => model.RejectedRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h3 class="card-title">@Model.TotalRequests</h3>
                <p class="card-text">@Html.DisplayNameFor(model => model.TotalRequests)</p>
            </div>
        </div>
    </div>
</div>

<br />

<p>
    <a class="btn btn-outline-success" asp-action="Create">
    <i class="fa fa-plus-circle"></i>
    Create New</a>
</p>

<h3>All Requests</h3>
<hr />
<table id="tbldata" class="table" style="width:100%">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th> 
            <th>
                Date Requested
            </th>
            <th>
                Is Approved
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.Firstname) @Html.DisplayFor(modelItem => item.RequestingEmployee.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested.Date)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="badge badge-light">Pending</span>
                }
            </td>   
            
            <td>
                <a asp-action="Details" 
                   asp-route-id="@item.Id"
                   class="btn btn-light btn-circle btn-sm"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="View details"
                 > 
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
