@model AdminViewLeaveRequestViewModel

@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-secondary"><i class="fas fa-envelope-open-text"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">@Model.TotalRequests</span>
                    <span class="info-box-number">@Html.DisplayNameFor(model => model.TotalRequests)</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-envelope"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">@Model.PendingRequests</span>
                    <span class="info-box-number">@Html.DisplayNameFor(model => model.PendingRequests)</span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fas fa-envelope-open"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">@Model.ApprovedRequests</span>
                    <span class="info-box-number">@Html.DisplayNameFor(model => model.ApprovedRequests)</span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="fas fa-envelope-open"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">@Model.RejectedRequests</span>
                    <span class="info-box-number">@Html.DisplayNameFor(model => model.RejectedRequests)</span>
                </div>
            </div>
        </div>
    </div>

<br />

<h4>All Leave Requests</h4>
<hr />
<table id="tbldata" class="table" style="width:100%">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th> 
            <th>
                Date Requested
            </th>
            <th>
                Is Approved
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.Firstname) @Html.DisplayFor(modelItem => item.RequestingEmployee.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested.Date)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="badge badge-light">Pending</span>
                }
            </td>   
            
            <td>
                <a asp-action="Details" 
                   asp-route-id="@item.Id"
                   class="btn btn-light btn-outline-dark btn-circle btn-sm"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="View details"
                 > 
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
