@model EmployeeViewLeaveRequestViewModel

@{
    ViewData["Title"] = "MyLeave";
}

<h3>My Available Leave allocations</h3>
<div class="jumbotron">
    <div class="card">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.LeaveAllocations)
            {
                <li class="list-group-item">
                    <h5>@item.LeaveType.Name  <span class="badge badge-secondary">@item.NumberOfDays</span></h5>
                </li>
            }
        </ul>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tbldata" class="table">
    <thead>
        <tr>
            <th>
                Leave Type
            </th>
            <th>
                Start Date
            </th> 
            <th>
                End Date
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Approval State
            </th>
            <th>
                Cancel Request
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequesrts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Cancelled == true)
                {
                    <span class="badge badge-danger">Cancelled</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="badge badge-light">Pending</span>
                }
            </td>
            <td>
                @if (item.StartDate > DateTime.Now && item.Cancelled == false)
                {
                    <a asp-action="CancelRequest"
                       asp-route-id="@item.Id"
                       class="btn btn-outline-danger btn-circle btn-sm"
                       onclick="return confirm('Are you sure you want to cancel this request?')"
                    >
                        <i class="fas fa-trash"></i>
                    </a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
